html {
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    /*background: linear-gradient(to bottom right, #b81d1d, #5F554C, #E4DFD8);*/
    line-height: 1.5;
}

h1 {
    font-weight: 200;
    font-size: 3rem;
    color: black;
    text-align: center;
}

nav {
    margin: 0 auto;
    max-width: 350px;
    background: rgba(10, 20, 30, .85);
}

nav::after {
    display: block;
    content: '';
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
    padding: 1rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:focus {
    background: rgba(10, 20, 30, .9);
}

nav ul li a:focus {
    color: white;
}

nav ul li a:not(:only-child)::after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    background: transparent;
    color: #4a5666;
    border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
    background: #e7e9ef;
    color: #111;
}


.dropdown {
    display: none;
    position: absolute;
    margin-top: 6px;
    background: linear-gradient(to bottom right, white, #F8F8F8) !important;
    box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}

.dropdown::after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.dropdown:hover::after {
    border-bottom: 8px solid #F6F7F9;
}







.drop {
    display: none;
    position: absolute;
    margin-top: 6px;
    background: linear-gradient(to bottom right, white, #F8F8F8) !important;
    box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}

.drop::after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.drop:hover::after {
    border-bottom: 8px solid #F6F7F9;
}







/*

.menu {
  display: flex;
  justify-content: center;
}
.menu-item, .drop-item {
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  cursor: pointer;
}
.menu-item:hover, .drop-item:hover {
  background: orangered;
}
.menu-item {
  position: relative;
}
.dropping:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background: #ffe8bb;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  right: 25px;
}

.drop {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
}
.drop-item {
  width: 150px;
}
*/