@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

#usecase {
  fill: none;
  font-size: 52px;
  stroke: #27abde;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset:1200;
  animation: draw 5s linear forwards;
  font-family: 'Libre Baskerville', serif;
  /*left: 10%;*/
  /*padding-left: 100px;*/
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}


svg {
  margin-left: 35%;
  margin-top: 20%;
}